/* TÍMTO JSEM URČIL, ŽE CELÁ STRÁNKA BUDE NA CELOU ŠÍŘKU A JAKO BOX*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --primary-font-raleway: "Raleway";
    --secondary-font-opensans: "Open Sans";

    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #EB476E;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;

    --maximal-width: 1352px;

    /** em, rem - setting font size or line height
        
        vw, vh - when you have to force the element to have width or height relative to the screen size (useful when the section has to occupy 100% of the screen height)
        
        px - margins, paddings, shadows, borders, etc. 
        */
}

/* */

/* OBECNÁ TŘÍDA NA ŠÍŘKU TEXTU - OBSAHU - OBECNĚ NA VŠE*/
.container {
    max-width: var(--maximal-width); /* 1352px */
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font-raleway);
}

p {
    font-family: var(--secondary-font-opensans);
}

button, input[type="submit"]{
    border-radius: 40px;
    font-family: var(--secondary-font-opensans);
    font-weight: bold;
    border: none;
}

strong {
    font-weight: bold;
}

li {
    font-family: var(--secondary-font-opensans);
    font-size: 14px;
}
/* */

/* header {
    max-width: 100vh;
}*/

.top {
    background-color: goldenrod; /* měl jsem tu height: 100vh nefunguje? - určuje mi velikost divu momentálně asi ten obrázek */
} 


/* ---  FLEXBOX, POSITIONS, DIVS -- FOR SECTION TOP*/   /* */
.top-container {
    background-color: rgb(255, 226, 189); /* pomocné -> smazat */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px;
}

.top-nav {
    display: flex;
}

/* barvičky k textu a formátování*/   /* */
.top-logo {
    font-weight: 300;
    color: var(--color-primary);
    font-size: 32px;
}

.menu {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--secondary-font-opensans);
    font-weight: bold;
    font-size: 11px;
    color: black;
    letter-spacing: 3.28px;
    padding: 0px 35px;

}

.menu:hover {
    text-decoration: underline;
}
/* */

/* --- ZBYTEK TOPU + NADPIS + TEXT + BUTTON */
/* flexbox a pozicování*/
.top-text {
    background-color: antiquewhite; /* pomocné -> smazat */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    text-align: center;
}
/* nejde mi tu udělat, abych měl mezery mezi řádky textu, nehýbe se to nijak, chyba asi bude před tím*/

/* Barvy a formátování */
.top-heading {
    margin-bottom: 35px;
    font-size: 49px;
}

.top-button {
    margin-top: 35px;
    padding: 22px 160px;
    background-color: #08A6E4;
    color: white;
}
/* */

/* --- DRUHÁ SEKCE - 3 PICS --- */
/* flexbox a pozicování*/
.popular {
    
    height: 40vh;
}

.popular-text {
    text-align: center;
    font-size: 36px;
    padding: 100px 0px 80px 0px;
}

.popular-boxes {
    display: flex;
    justify-content: space-evenly;
    height: 30%;
}

.popular-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Barvy a formátování */
.popular-box-raleway {
    font-size: 20px;
}

/* */

/* --- TŘETÍ SEKCE - 4 BOXY --- */
/* FLEXBOX */
.box {
    background-color: var(--color-light-grey); /* pomocné */
    padding: 100px 0px;
}

.box-container {
    padding: 0 100px;
}

.box-single {
    background-color: white;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin-bottom: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-text {
    max-width: 415px;
    margin: 90px 40px;
}

.box-img img {
    max-width: 300px;
    margin: 90px 40px;
   
}

.box-img-trumpet {
    background-color: #55DFB4;
    /* nevím jak tu udělat tu mezeru, zkoušel jsem margin, ale netuším */
   
    display: flex; /* nefunguje celý flex */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
/* BARVY A FORMÁTOVÁNÍ */
.box-heading {
    font-size: 36px;
    margin-bottom: 1em;
}

.box-description {
    margin-bottom: 1em;
    line-height: 1.3em;
}

.box-first::after {
    content: "";
    display: inline-block;
    width: 300px;
    height: 3px;
    background-color: #EB476E;
    z-index: 2;
}

.box-second::after {
    content: "";
    display: inline-block;
    width: 300px;
    height: 3px;
    background-color: #08A6E4;
    z-index: 2;
}

.box-third::after {
    content: "";
    display: inline-block;
    width: 300px;
    height: 3px;
    background-color: #55DFB4;
    z-index: 2;
}
/* */



/* --- ČTVRTÁ SEKCE - PRICING --- */
/* FLEXBOX a POSITIONING*/

.pricing {
    background-color: antiquewhite;
    padding: 100px 0px;
}

.pricing-container {
    padding: 0 100px 100px 100px;
}

.pricing-h3 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 1em;
}

.pricing-boxes {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40%;

    list-style-image: url(../images/Checkmark-1.svg); /*tohle pak otřídovat a některý li dát jinej image, trochu manuální práce jen*/
}

.pricing-boxes-size {
    border: 2px solid black;
    border-radius: 20px;
    padding: 1.5em 5em;

    display: flex;
    flex-direction: column;
    align-items: center;  /* nefunguje mi tu justify-content*/

    line-height: 3em;
 
    position: relative;
}



/* formátování */
.pricing-boxes-size p {
    font-size: 46px;
}

.pricing-button {
    padding: 0.8em 3.5em;
    position: absolute;
    margin-top: 380px; /* určitě půjde lépe, ale nevím jak */
}

/* pak už dodělat jen barvy pro jednotlivý boxy */

/* */

/*---- KONTAKT SEKCE & FORMULÁŘ */
/* flexbox a postioning*/
.contact {
    background-color: #f7ffcf;
}

.contact-container {
    width: 1200px;
    background-color: aliceblue;
    padding: 5em 1em;
    display: flex;
    justify-content: center;
    /* justifiny-content mi nikde nefunguej nevím proč */
}

.contact-divs {
    width: 500px;
}



/* barvy, fonty, formátování */
.contact-divs h2 {
    font-size: 3em;
    padding-bottom: 0.5em;
}

.contact-divs > p {
    padding-bottom: 3em;
}

.contact-icons {
    display: flex;
    justify-content: flex-start;
}

.contact-icons div {
    display: flex;
    align-items: center;
    padding-right: 2em;
}

.contact-icons div img {
    padding-right: 0.7em;
}


/* button u formuláře*/
input[type="submit"] {
    padding: 18px 120px;
    background-color: #08A6E4;
    color: white;
    
}

/* */