/* TÍMTO JSEM URČIL, ŽE CELÁ STRÁNKA BUDE NA CELOU ŠÍŘKU A JAKO BOX*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --primary-font-raleway: "Raleway";
    --secondary-font-opensans: "Open Sans";

    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #EB476E;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;

    --maximal-width: 1352px;

    /** em, rem - setting font size or line height
        
        vw, vh - when you have to force the element to have width or height relative to the screen size (useful when the section has to occupy 100% of the screen height)
        
        px - margins, paddings, shadows, borders, etc. 
        */
}

/* */

/* OBECNÁ TŘÍDA NA ŠÍŘKU TEXTU - OBSAHU */
.container {
    max-width: var(--maximal-width); /* 1352px */
    margin-left: auto;
    margin-right: auto;
}


/* header {
    max-width: 100vh;
}*/

.top {
    height: 100vh; /* nefunguje? - určuje mi velikost divu momentálně asi ten obrázek */
}

/* ---  FLEXBOX, POSITIONS, DIVS -- FOR SECTION TOP*/   /* */
.top-container {
    background-color: #55DFB4; /* pomocné -> smazat */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px;
}

.top-nav {
    display: flex;
}

/* barvičky k textu a formátování*/   /* */
.top-logo {
    font-family: var(--primary-font-raleway);
    font-weight: light;
    color: var(--color-primary);
    font-size: 32px;
}

.menu {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--secondary-font-opensans);
    font-weight: bold;
    font-size: 11px;
    color: black;
    letter-spacing: 3.28px;
    padding: 0px 35px;

}

.menu:hover {
    text-decoration: underline;
}
/* */

/* --- ZBYTEK TOPU + NADPIS + TEXT + BUTTON */
/* flexbox a pozicování*/
.top-text {
    background-color: #08A6E4; /* pomocné -> smazat */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Barvy a formátování */
